#footer{
  width: 100%;
  background-color: rgb(214, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}
.contact {
  width: 200px;
  height: 27vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 3%;
}
.end{
  width: 200px;
  height: 27vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 3%;
}
.tag{
  height: 27vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#footer h1{
  font-size: 23px;
  color: rgb(49, 48, 48);
  margin-bottom: 20px;
  margin-top: 25px;
}

#footer a,#footer p{
  font-size: 15px;
  font-weight: 400;
  color: rgb(97, 95, 95);
  text-decoration: none;
  margin-bottom: 7px;
  transition-duration: 0.4s;
}

#footer a:hover,#footer p:hover{
  color: #fac031;
  transform: translateY(-3px);
}
#footer .contact a:hover i{
  color: #fac031;
}
#footer .fa-envelope,#footer .fa-phone,#footer .fa-house{
  color: rgb(56, 56, 56);
  margin-right: 10px;
}

.tag i {
  color: #fac031;
  left: 10px;
  top: 14px;
}

.end input{
  width: 93%;
  height: 30px;
  padding-left: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
  background-color: rgb(171, 168, 168);
  color: rgb(74, 73, 73);
}

.end button{
  margin: 15px 0px;
  height: 30px;
  width: 65%;
  font-size: 14px;
}
.end button:hover{
  font-size: 16px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons i{
  color: black;
  margin: 0px 5px;
}

.icons i:hover{
  color: #fac031;
}
@media(min-width:754px) and (max-width:1000px) {
  #Page-5 {
    background-color: white;
  }

  #Sign-page {
    height: 45vh;
  }

  #Page-5 .right h1 {
    font-size: 20px;
    text-align: center;
  }

  .right {
    width: 30%;
  }
}

@media(max-width:753px) {
  #footer{
    flex-direction: column;
    justify-content: center;
  }
  .tag,.end,.contact{
    justify-content: center;
    align-items: center;
  }
}